.slider-container{
    margin: 14%;
    overflow-x: hidden;
   
    
    .slider{
        display: flex;
        cursor: grab;
    }
    .lengu{
        color: white;
        margin: -20px;
    }
    h1{
        color: white;
        font-size: 50px;
        vertical-align: text-bottom;
    }
    .item{
       
        margin: 30px;
        height: 30rem;
        width: 100rem;
        padding: 4px;
        background: rgba(17, 70, 173, 0.28);
border-radius: 26px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);

border: 1px solid rgb(20, 136, 99);


        
    }
    .item img{
        margin: -2%;
width: 300px;
height: 300px;


    }
    .slider{
        display: flex;
        cursor: grab;

    }
    .slider-container{
        margin: 0 auto;
        overflow-x: hidden;
    }
}
