.container__NavBar {
    display: flex;
    width: 100vw;
    padding: 40px;
    font-family: "Orbitron", sans-serif;
    .container__NavBar-navBar {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 49px;
      margin-inline-start: 1283px;
      .navBar_Link {
        transition: all 0.2s ease;
        &:hover {
          padding-bottom: 10px;
          border-bottom: 2px solid #20c9ac;
          font-weight: 700;
        }
      }
    }
    .iconNavBar {
      width: 40px;
      height: auto;
      transform: translateY(30%);
      &:hover {
        animation: float 3s ease-in-out;
      }
    }
    .dot {
      height: 5px;
      width: 5px;
      background-color: #20c9ac;
      border-radius: 50%;
      display: inline-block;
      transform: translateY(-80%);
    }
  }
  @keyframes float {
    0% {
      transform: translateY(0px);
      display: none;
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(-1000px);
      opacity: 0;
    }
  }
  